<div id="principal">
    <app-menusuperior></app-menusuperior>
    <app-menulateral [menu_item]="4.2"></app-menulateral>
    <main id="main" class="main">

        <div class="pagetitle">
            <!--<h1>Embarques</h1>-->
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a role="button" [routerLink]="['/inicio']">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Transportistas</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
        <div class="card">
            <div *ngIf="ver_entidades_transportistas" class="card-body">
                <br />
                <div class="row">
                    <div class="col-md-9"><button *ngIf="editar_entidades_transportistas" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ventanaTransportista" (click)="prepararDatos(0)">Nuevo Transportista</button></div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="filtro" [(ngModel)]="filtro" placeholder="Buscar" (keyup)="p=1">
                    </div>
                </div>
                <br />
                
                <div class="list-group">
                    <ng-container *ngFor="let transportista of transportistas | appFilter: filtro: '' | paginate: { itemsPerPage: items, currentPage: p, id: 'page' }">
                        <a role="button" class="list-group-item list-group-item-action" data-bs-toggle="modal" data-bs-target="#ventanaTransportista" (click)="prepararDatos(transportista.idtransportista)">
                            <div class="row">
                                <div class="col-lg-5 col-sm-6">
                                    <strong><i class="bi bi-building"></i> {{transportista.transportista}}</strong>
                                </div>
                                <div class="col-lg-2 col-sm-3">
                                    <i class="bi bi-card-heading"></i> {{transportista.numeroidentificacion}}
                                </div>
                                <div class="col-lg-2 col-sm-6">
                                    <i class="bi bi-telephone"></i> {{transportista.telefono}}
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <i class="bi bi-person"></i> {{transportista.nombrecontacto}}
                                </div>
                            </div>
                        </a>
                    </ng-container>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-10">
                        <pagination-controls 
                            (pageChange)="p = $event"  
                            id="page"
                            nextLabel="Sig"
                            previousLabel="Ant"
                            >
                        </pagination-controls>
                    </div>
                    <div class="col-md-2">
                        <select class="form-select" [(ngModel)]="items" name="items" (change)="p=1">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<div class="modal" id="ventanaTransportista" tabindex="-1" aria-labelledby="ventanaTransportistaLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ventanaTransportistaLabel">{{cabecera_modal}} Transportista</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <ul class="nav nav-tabs nav-tabs-bordered" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="general-tab" data-bs-toggle="tab" data-bs-target="#general" type="button" role="tab" aria-controls="general" aria-selected="true">General</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="direcciones-tab" data-bs-toggle="tab" data-bs-target="#direcciones" type="button" role="tab" aria-controls="direcciones" aria-selected="false">Direcciones</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                            <br />
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <label for="transportista" class="form-label text-secondary small">Transportista</label>
                                    <input type="text" class="form-control" id="transportista" name="transportista" [(ngModel)]="transportista" (change)="errortransportista=false" [disabled]="!editar_entidades_transportistas" />
                                    <small *ngIf="errortransportista" class="text-danger">Campo Obligatorio</small>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="numeroidentificacion" class="form-label text-secondary small">No. Identificaci&oacute;n</label>
                                    <input type="text" class="form-control" id="numeroidentificacion" name="numeroidentificacion" [(ngModel)]="numeroidentificacion" [disabled]="!editar_entidades_transportistas" />
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="telefono" class="form-label text-secondary small">Tel&eacute;fono</label>
                                    <input type="text" class="form-control" id="telefono" name="telefono" [(ngModel)]="telefono" [disabled]="!editar_entidades_transportistas" />
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="fax" class="form-label text-secondary small">FAX</label>
                                    <input type="text" class="form-control" id="fax" name="fax" [(ngModel)]="fax" [disabled]="!editar_entidades_transportistas" />
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="email" class="form-label text-secondary small">Correo electr&oacute;nico</label>
                                    <input type="text" class="form-control" id="email" name="email" [(ngModel)]="email" [disabled]="!editar_entidades_transportistas" />
                                </div>
                                <div class="col-md-8 mb-3">
                                    <label for="nombrecontacto" class="form-label text-secondary small">Contacto</label>
                                    <input type="text" class="form-control" id="nombrecontacto" name="nombrecontacto" [(ngModel)]="nombrecontacto" [disabled]="!editar_entidades_transportistas" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="numerocuenta" class="form-label text-secondary small">No de Cuenta</label>
                                    <input type="text" class="form-control" id="numerocuenta" name="numerocuenta" [(ngModel)]="numerocuenta" [disabled]="!editar_entidades_transportistas" />
                                </div>
                                <div *ngIf="tokenDetalle.contabilidad" class="col-3 mb-3">
                                    <label for="plazo" class="form-label text-secondary small">Plazo</label>
                                    <input type="number" step="1" class="form-control" id="plazo" name="plazo" [(ngModel)]="plazo" [disabled]="!editar_entidades_transportistas" />
                                </div>
                                <div *ngIf="tokenDetalle.contabilidad" class="col-3 mb-3">
                                    <label for="idOVP" class="form-label text-secondary small">idOVP</label>
                                    <input type="number" step="1" class="form-control" id="id_OVPProv" name="id_OVPProv" [(ngModel)]="id_OVPProv" [disabled]="!editar_entidades_transportistas" />
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="direcciones" role="tabpanel" aria-labelledby="direcciones-tab">
                            <br />
                            <ng-container *ngFor="let direcciond of direcciones; let indice = index; trackBy: trackByFn">
                                <div class="row">
                                    <div class="col-lg-12 mb-3">
                                        <label for="direccion{{indice}}" class="form-label text-secondary small"><strong>{{indice+1}}. Direcci&oacute;n</strong></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="direccion{{indice}}" name="direccion{{indice}}" [(ngModel)]="direcciond.direccion" [disabled]="!editar_entidades_transportistas" />
                                            <div class="dropdown bottom-0">
                                                <button *ngIf="editar_entidades_transportistas" class="btn btn-outline-secondary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bi bi-three-dots-vertical"></i>
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                  <!--<li><a class="dropdown-item" href="#">Establecer como predeterminado</a></li>-->
                                                  <li><a class="dropdown-item" role="button" (click)="eliminarDireccion(direcciond.idtransportistadireccion)">Eliminar</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 mb-3">
                                        <label for="ciudad{{indice}}" class="form-label text-secondary small">Ciudad</label>
                                        <input type="text" class="form-control" id="ciudad{{indice}}" name="ciudad{{indice}}" [(ngModel)]="direcciond.ciudad" [disabled]="!editar_entidades_transportistas" />
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <label for="pais{{indice}}" class="form-label text-secondary small">Pa&iacute;s</label>
                                        <input type="text" class="form-control" id="pais{{indice}}" name="pais{{indice}}" [(ngModel)]="direcciond.pais" [disabled]="!editar_entidades_transportistas" />
                                    </div>
                                </div>
                                <hr />
                            </ng-container>
                            <button *ngIf="editar_entidades_transportistas" type="button" class="btn btn-secondary" (click)="agregarDireccion()">Agregar Direcci&oacute;n</button>
                        </div>
                    </div>
                            
                    
                </form>    
            </div>
            <div class="modal-footer">
                <!--{{errorusername}} - {{errorusernameexistente}} - {{errorcontrasena}}-->
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button *ngIf="editar_entidades_transportistas" type="button" class="btn btn-primary" (click)="guardarDatos();">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" [ngClass]="toast_tipo == 'Exito' ? 'toast align-items-center text-white bg-success border-0' : 'toast align-items-center text-white bg-danger text-white border-0'" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                <strong>{{toast_tipo}}</strong><br />{{toast_mensaje}}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>