<div id="principal">
    <app-menusuperior></app-menusuperior>
    <app-menulateral [menu_item]="11.3"></app-menulateral>
    <main id="main" class="main">
        <div class="pagetitle">
            <!--<h1>Cotizaciones</h1>-->
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a role="button" [routerLink]="['/inicio']">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Ciudades</li>
                </ol>
            </nav>
        </div>
        <div class="card">
            <div *ngIf="ver_ciudades" class="card-body">
                <br />
                <div class="row">
                    <div class="col-md-9"><button *ngIf="editar_ciudades" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ventanaCiudad" (click)="prepararDatos(0)">Nueva Ciudad</button></div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="filtro" [(ngModel)]="filtro" placeholder="Buscar" (keyup)="p=1">
                    </div>
                </div>
                <br />
                
                
                <div class="list-group">
                    <ng-container *ngFor="let ciudad of ciudades | appFilter: filtro: '' | paginate: { itemsPerPage: items, currentPage: p, id: 'page' }">
                        <a role="button" class="list-group-item list-group-item-action" data-bs-toggle="modal" data-bs-target="#ventanaCiudad" (click)="prepararDatos(ciudad.idciudad)">
                            <div class="row">
                                <div class="col-lg-1 col-sm-3">
                                    {{ciudad.codigo}}
                                </div>
                                <div class="col-lg-4 col-sm-9">
                                    {{ciudad.ciudad}}
                                </div>
                                <div class="col-lg-2 col-sm-4">
                                    {{ciudad.pais}}
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    {{ciudad.timezone_name}}
                                </div>
                                <div class="col-lg-2 col-sm-6">
                                    UTC {{ciudad.utc_offset_minutos}}
                                </div>
                            </div>
                        </a>
                    </ng-container>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-10">
                        <pagination-controls 
                            (pageChange)="p = $event"  
                            id="page"
                            nextLabel="Sig"
                            previousLabel="Ant"
                            >
                        </pagination-controls>
                    </div>
                    <div class="col-md-2">
                        <select class="form-select" [(ngModel)]="items" name="items" (change)="p=1">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>



<div class="modal" id="ventanaCiudad" tabindex="-1" aria-labelledby="ventanaCiudadLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ventanaCiudadLabel">{{cabecera_modal}} Ciudad</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <br />
                <div class="row mb-3">
                    <div class="col-md-10">
                        <label for="ciudad" class="form-label text-secondary small">Ciudad</label>
                        <input type="text" class="form-control" id="ciudad" name="ciudad" [(ngModel)]="ciudad" (change)="errorciudad=false" [disabled]="!editar_ciudades" />
                        <small *ngIf="errorciudad" class="text-danger">Campo Obligatorio</small>
                    </div>
                    <div class="col-md-2">
                        <label for="codigo" class="form-label text-secondary small">Codigo</label>
                        <input type="text" class="form-control" id="codigo" name="codigo" [(ngModel)]="codigo" (change)="errorcodigo=false" (ngModelChange)="codigo = $event.toUpperCase()" [disabled]="!editar_ciudades" />
                        <small *ngIf="errorcodigo" class="text-danger">{{mensajeerrorcodigo}}</small>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="modotransporte" class="form-label text-secondary small">Modo de Transporte</label>
                        <input type="text" class="form-control" id="modotransporte" name="modotransporte" [(ngModel)]="modotransporte" [disabled]="!editar_ciudades" />
                    </div>
                    <div class="col-md-6">
                        <label for="pais" class="form-label text-secondary small">Pa&iacute;s</label>
                        <input type="text" class="form-control" id="pais" name="pais" [(ngModel)]="pais" [disabled]="!editar_ciudades" />
                    </div>
                    
                </div>
                <div class="row mb-3">
                    <div class="col-md-8">
                        <label for="timezone_name" class="form-label text-secondary small">Zona Horaria</label>
                        <select class="form-select" id="timezone_name" name="timezone_name" [(ngModel)]="timezone_name" (change)="cambiarZonaHoraria()" [disabled]="!editar_ciudades">
                            <option *ngFor="let zona of zonasHorarias" [value]="zona.timezone_name">{{zona.label}}</option>
                        </select>
                        <small *ngIf="errortimezone_name" class="text-danger">Campo Obligatorio</small>
                    </div>
                    <div class="col-md-4">
                        <label for="utc_offset_minutos" class="form-label text-secondary small">Offset UTC actual (min)</label>
                        <input type="number" class="form-control" id="utc_offset_minutos" name="utc_offset_minutos" [(ngModel)]="utc_offset_minutos" readonly [disabled]="!editar_ciudades" />
                        <small *ngIf="errorutc_offset_minutos" class="text-danger">Valor num&eacute;rico requerido</small>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button *ngIf="editar_ciudades" type="button" class="btn btn-primary" (click)="guardarDatos();">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" [ngClass]="toast_tipo == 'Exito' ? 'toast align-items-center text-white bg-success border-0' : 'toast align-items-center text-white bg-danger text-white border-0'" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                <strong>{{toast_tipo}}</strong><br />{{toast_mensaje}}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>
