<div id="principal">
    <app-menusuperior></app-menusuperior>
    <app-menulateral [menu_item]="1.7"></app-menulateral>
    <main id="main" class="main">
        <div class="pagetitle">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a role="button" [routerLink]="['/inicio']">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Timbrado</li>
                </ol>
            </nav>
        </div>
        <div class="card">
            <div *ngIf="ver_timbrado" class="card-body">
                <br />
                <div *ngIf="editar_timbrado" class="row">
                    <div class="col-6 mb-3">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#nuevoTimbrado" (click)="preperarAgregar()">Nuevo servicio de timbrado</button>
                    </div>
                </div>
                <hr />
                <p-table [value]="timbrados" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll" columnResizeMode="expand" [resizableColumns]="true" styleClass="p-datatable-gridlines  p-datatable-sm"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50,100]"
                    >
                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Numero Timbrado
                                    <p-columnFilter type="text" field="idtimbrado" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Cliente
                                    <p-columnFilter type="text" field="cliente" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Fecha Creaci&oacute;n
                                    <p-columnFilter type="date" field="created_at" display="menu"></p-columnFilter>
                                </div>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-timbrado>
                        <tr>
                            <td class="text-center"><i class="bi bi-folder2-open" role='button' (click)="abrirDetalle(timbrado.idtimbrado)"></i>&nbsp;<i class="bi bi-box-arrow-up-right" role='button' (click)="abrirDetalleNuevo(timbrado.idtimbrado)"></i></td>
                            <td>{{timbrado.idtimbrado}}</td>
                            <td>{{timbrado.cliente}}</td>
                            <td>{{timbrado.created_at | date:'dd/MM/yyyy'}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="7">No existen registros</td>
                        </tr>
                    </ng-template>
                    
                </p-table>
            </div>
        </div>
    </main>
</div>

<div class="modal fade" id="nuevoTimbrado" tabindex="-1" aria-labelledby="nuevoTimbradoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="nuevoTimbradoLabel">Nuevo Servicio de timbrado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 mb-3">
                        <label for="idcliente" class="form-label text-secondary small">Cliente</label>
                        <p-dropdown [options]="entidades" [filter]="true" [(ngModel)]="idcliente" name="idcliente" id="idcliente" placeholder="Seleccione" optionLabel="entidad" optionValue="id" (onChange)="erroridcliente=false" [style]="{'width':'100%'}"></p-dropdown>
                        <small *ngIf="erroridcliente" class="text-danger">Campo Requerido</small>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="crearTimbrado()">Crear Servicio</button>
            </div>
        </div>
    </div>
</div>