<div id="principal">
    <app-menusuperior></app-menusuperior>
    <app-menulateral [menu_item]="7.11"></app-menulateral>
    <main id="main" class="main">
        <div class="pagetitle">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a role="button" [routerLink]="['/inicio']">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Invoices</li>
                </ol>
            </nav>
        </div>
        <div class="card">
            <div *ngIf="ver_reporte_contabilidad_invoices" class="card-body">
                <br />
                
                <div class="row">
                    <div class="col-md-8 mb-3">
                        <label for="identidad" class="form-label text-secondary small">Cliente</label>
                        <ng-select [(ngModel)]="identidad" placeholder="Todos" [disabled]="generado">
                            <ng-container *ngFor="let entidad of entidades">
                                <ng-option [value]="entidad.identidad">{{entidad.entidad}} {{entidad.tipoentidad}}</ng-option>
                            </ng-container>
                        </ng-select>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="fechainicial" class="form-label text-secondary small">Desde</label>
                        <input type="date" class="form-control" id="fechainicial" max="{{fechafinal}}" name="fechainicial" [(ngModel)]="fechainicial" [disabled]="generado" />
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="fechafinal" class="form-label text-secondary small">Hasta</label>
                        <input type="date" class="form-control" id="fechafinal" min="{{fechainicial}}" name="fechafinal" [(ngModel)]="fechafinal" [disabled]="generado" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <button type="button" class="btn btn-primary col-12" (click)="generarReporte();" [disabled]="generado">Generar</button>
                    </div>
                </div>
                
                <p-table *ngIf="reporte.length>0" [value]="reporte" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll" columnResizeMode="expand" [resizableColumns]="true" styleClass="p-datatable-gridlines  p-datatable-sm"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50,100]"
                    [globalFilterFields]="['nroinvoice','fecha','embarque','cliente','montoinvoice','valorfacturado','valordebitado','total','diferencia','estado']"
                    >
                    <ng-template pTemplate="caption">
                        <div class="flex">
                            <button type="button" (click)="exportExcel()" class="btn btn-success mb-3"><i class="bi bi-file-earmark-excel"></i></button>&nbsp;
                            <!--<button type="button" (click)="exportPdf()" class="btn btn-danger mb-3"><i class="bi bi-file-earmark-pdf"></i></button>-->
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    No Invoice
                                    <p-columnFilter type="text" field="nroinvoice" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Fecha
                                    <p-columnFilter type="date" field="fecha" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Embarque
                                    <p-columnFilter type="text" field="embarque" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Cliente
                                    <p-columnFilter type="text" field="cliente" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Monto USD
                                    <p-columnFilter type="numeric" field="montoinvoice" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Facturado USD
                                    <p-columnFilter type="numeric" field="valorfacturado" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Debitado USD
                                    <p-columnFilter type="numeric" field="valordebitado" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Total F+D USD
                                    <p-columnFilter type="numeric" field="total" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Diferencia USD
                                    <p-columnFilter type="numeric" field="diferencia" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Estado
                                    <p-columnFilter type="text" field="estado" display="menu"></p-columnFilter>
                                </div>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-invoices>
                        <tr>
                            <td>{{invoices.nroinvoice}}</td>
                            <td>{{invoices.fecha | date:'dd/MM/yyyy'}}</td>
                            <td>{{invoices.embarque}}</td>
                            <td>{{invoices.cliente}}</td>
                            <td>{{invoices.montoinvoice | number:'0.2-2'}}</td>
                            <td>{{invoices.valorfacturado | number:'0.2-2'}}</td>
                            <td>{{invoices.valordebitado | number:'0.2-2'}}</td>
                            <td>{{invoices.total | number:'0.2-2'}}</td>
                            <td>{{invoices.diferencia | number:'0.2-2'}}</td>
                            <td>{{invoices.estado}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="10">No existen registros</td>
                        </tr>
                    </ng-template>

                </p-table>
                
            </div>
        </div>
    </main>
</div>