<div id="principal">
    <app-menusuperior></app-menusuperior>
    <app-menulateral [menu_item]="5.12"></app-menulateral>
    <main id="main" class="main">
        <div class="pagetitle">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a role="button" [routerLink]="['/inicio']">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Reporte de Liquidacion</li>
                </ol>
            </nav>
        </div>
        <div class="card">
            <div *ngIf="ver_reporte_almacen_liquidacion" class="card-body">
                <br />
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="idcliente" class="form-label text-secondary small">Cliente</label>
                        <ng-select name="idcliente" id="idcliente" [items]="entidades"
                            bindLabel="entidad"
                            bindValue="id"
                            placeholder="Todos"
                        [(ngModel)]="idcliente">
                        </ng-select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="fechainicial" class="form-label text-secondary small">Desde</label>
                        <input type="date" class="form-control" id="fechainicial" name="fechainicial" max="{{fechafinal}}" [(ngModel)]="fechainicial" >
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="fechafinal" class="form-label text-secondary small">Hasta</label>
                        <input type="date" class="form-control" id="fechafinal" name="fechafinal" min="{{fechainicial}}" [(ngModel)]="fechafinal" >
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <button type="button" class="btn btn-primary col-12" (click)="generarReporte();" [disabled]="generado">Generar</button>
                    </div>
                </div>
                
                
                <p-table *ngIf="reporte.length>0" [value]="reporte" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll" columnResizeMode="expand" [resizableColumns]="true" styleClass="p-datatable-gridlines  p-datatable-sm"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50,100]"
                    [globalFilterFields]="['fecha','numeromovimiento','cliente','servicio','cantidad_pallet','embalaje','descripcion','detalle','peso_total']"
                    >
                    <ng-template pTemplate="caption">
                        <div class="flex">
                            <button type="button" (click)="exportExcel()" class="btn btn-success mb-3"><i class="bi bi-file-earmark-excel"></i></button>&nbsp;
                            <!--<button type="button" (click)="exportPdf()" class="btn btn-danger mb-3"><i class="bi bi-file-earmark-pdf"></i></button>-->
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Fecha
                                    <p-columnFilter type="date" field="cliente" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Nota
                                    <p-columnFilter type="text" field="numeromovimiento" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Cliente
                                    <p-columnFilter type="text" field="cliente" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Servicio
                                    <p-columnFilter type="text" field="servicio" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Cantidad
                                    <p-columnFilter type="text" field="cantidad_pallet" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Embalaje
                                    <p-columnFilter type="text" field="embalaje" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Descripci&oacute;n
                                    <p-columnFilter type="text" field="descripcion" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Codigo
                                    <p-columnFilter type="text" field="detalle" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Carg&iacute;o de camiones 3 a 7 TN 25 USD 9 a 35 TN 70 USD
                                    <p-columnFilter type="text" field="peso_total" display="menu"></p-columnFilter>
                                </div>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-liquidacion>
                        <tr>
                            <td>{{liquidacion.fecha | date:'dd/MM/yyyy'}}</td>
                            <td>{{liquidacion.numeromovimiento}}</td>
                            <td>{{liquidacion.cliente}}</td>
                            <td>{{liquidacion.servicio}}</td>
                            <td>{{liquidacion.cantidad_pallet}}</td>
                            <td>{{liquidacion.embalaje}}</td>
                            <td>{{liquidacion.descripcion}}</td>
                            <td>{{liquidacion.codigos}}</td>
                            <td>{{liquidacion.peso_total}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="10">No existen registros</td>
                        </tr>
                    </ng-template>

                </p-table>
                
            </div>
        </div>
    </main>
</div>