<div id="principal">
    <app-menusuperior></app-menusuperior>
    <app-menulateral [menu_item]="5.7"></app-menulateral>
    <main id="main" class="main">
        <div class="pagetitle">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a role="button" [routerLink]="['/inicio']">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Reporte de Vencimiento</li>
                </ol>
            </nav>
        </div>
        <div class="card">
            <div *ngIf="ver_reporte_almacen_vencimiento" class="card-body">
                <br />
                <div class="row">
                    <div class="col-md-9 mb-3">
                        <label for="idcliente" class="form-label text-secondary small">Cliente</label>
                        <ng-select name="idcliente" id="idcliente" [items]="entidades" 
                            bindLabel="entidad" 
                            bindValue="id"
                            placeholder="Todos"
                        [(ngModel)]="idcliente">
                        </ng-select>
                    </div>
                    <!--
                    <div class="col-md-3 mb-3">
                        <label for="fechafinal" class="form-label text-secondary small">Hasta</label>
                        <input type="date" class="form-control" id="fechafinal" name="fechafinal" min="{{fechainicial}}" [(ngModel)]="fechafinal" >
                    </div>
                    -->
                    
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <button type="button" class="btn btn-primary col-12" (click)="generarReporte();" [disabled]="generado">Generar</button>
                    </div>
                </div>
                
                <p-table *ngIf="reporte.length>0" [value]="reporte" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll" columnResizeMode="expand" [resizableColumns]="true" styleClass="p-datatable-gridlines  p-datatable-sm"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50,100]"
                    [globalFilterFields]="['cliente','codigo','serie','descripcion','cantidad','codigoembalaje','categoria','centro_distribucion','fechavencimiento','diasavencer','status','lote','fechaingreso','numeroingreso','dui','observaciones','ubicacionalmacen']"
                    >
                    <ng-template pTemplate="caption">
                        <div class="flex">
                            <button type="button" (click)="exportExcel()" class="btn btn-success mb-3"><i class="bi bi-file-earmark-excel"></i></button>&nbsp;
                            <!--<button type="button" (click)="exportPdf()" class="btn btn-danger mb-3"><i class="bi bi-file-earmark-pdf"></i></button>-->
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Cliente
                                    <p-columnFilter type="text" field="cliente" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    C&oacute;digo
                                    <p-columnFilter type="text" field="codigo" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Serie
                                    <p-columnFilter type="text" field="serie" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Descripci&oacute;n
                                    <p-columnFilter type="text" field="descripcion" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Cantidad
                                    <p-columnFilter type="numeric" field="cantidad" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Embalaje
                                    <p-columnFilter type="text" field="codigoembalaje" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Categor&iacute;a
                                    <p-columnFilter type="text" field="categoria" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Centro Distribuci&oacute;n
                                    <p-columnFilter type="text" field="centro_distribucion" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Fecha Vencimiento
                                    <p-columnFilter type="date" field="fechavencimiento" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    D&iacute;as
                                    <p-columnFilter type="numeric" field="diasavencer" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Status
                                    <p-columnFilter type="text" field="status" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Lote
                                    <p-columnFilter type="text" field="lote" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Fecha Ingreso
                                    <p-columnFilter type="date" field="fechaingreso" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Numero Ingreso
                                    <p-columnFilter type="text" field="numeroingreso" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    DIM
                                    <p-columnFilter type="text" field="dui" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Observaciones
                                    <p-columnFilter type="text" field="observaciones" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Ubicaci&oacute;n
                                    <p-columnFilter type="text" field="ubicacionalmacen" display="menu"></p-columnFilter>
                                </div>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-vencimiento>
                        <tr>
                            <td>{{vencimiento.cliente}}</td>
                            <td>{{vencimiento.codigo}}</td>
                            <td>{{vencimiento.serie}}</td>
                            <td>{{vencimiento.descripcion}}</td>
                            <td>{{vencimiento.cantidad}}</td>
                            <td>{{vencimiento.codigoembalaje}}</td>
                            <td>{{vencimiento.categoria}}</td>
                            <td>{{vencimiento.centro_distribucion}}</td>
                            <td>{{vencimiento.fechavencimiento | date:'dd/MM/yyyy'}}</td>
                            <td>{{vencimiento.diasavencer}}</td>
                            <td style='background-color: #{{vencimiento.color}}'>{{vencimiento.status}}</td>
                            <td>{{vencimiento.lote}}</td>
                            <td>{{vencimiento.fechaingreso | date:'dd/MM/yyyy'}}</td>
                            <td>{{vencimiento.numeroingreso}}</td>
                            <td>{{vencimiento.dui}}</td>
                            <td>{{vencimiento.observaciones}}</td>
                            <td>{{vencimiento.ubicacionalmacen}}</td>
                            
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="16">No existen registros</td>
                        </tr>
                    </ng-template>

                </p-table>
            </div>
        </div>
    </main>
</div>