
<div id="principal">
    <app-menusuperior></app-menusuperior>
    <app-menulateral [menu_item]="10.1"></app-menulateral>
    <main id="main" class="main">
        <div class="pagetitle">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a role="button" [routerLink]="['/inicio']">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Almacenes</li>
                </ol>
            </nav>
        </div>
        <div class="card">
            <div *ngIf="ver_almacenes" class="card-body">
                <br />
                <button *ngIf="editar_almacenes" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#nuevoAlmacen" (click)="preperarAgregar()">Nuevo Almacen</button>
                <hr />
                <br />
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="filtro" [(ngModel)]="filtro" placeholder="Buscar" (keyup)="p=1">
                    </div>
                </div>
                <br />
                <div class="list-group">
                    <ng-container *ngFor="let almacen of almacenes | appFilter: filtro: '' | paginate: { itemsPerPage: items, currentPage: p, id: 'page' }">
                        <a role="button" class="list-group-item list-group-item-action" (click)="abrirDetalle(almacen.idalmacen)">
                            <div class="row">
                                <div class="col-lg-4">
                                    <strong>{{almacen.almacen}}</strong>
                                </div>
                                <div class="col-lg-3">
                                    {{almacen.ciudad}}
                                </div>
                                <div class="col-lg-5 text-truncate">
                                    {{almacen.direccion}}
                                </div>
                            </div>
                        </a>
                    </ng-container>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-10">
                        <pagination-controls 
                            (pageChange)="p = $event"  
                            id="page"
                            nextLabel="Sig"
                            previousLabel="Ant"
                            >
                        </pagination-controls>
                    </div>
                    <div class="col-md-2">
                        <select class="form-select" [(ngModel)]="items" name="items" (change)="p=1">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<div class="modal fade" id="nuevoAlmacen" tabindex="-1" aria-labelledby="nuevoAlmacenLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="nuevoAlmacenLabel">Nuevo Almacen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label for="almacen" class="form-label">Almacen</label>
                            
                            <!--<small *ngIf="erroridcliente" class="text-danger">Campo Requerido</small>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <!--
                            <div class="form-check" *ngFor="let importacion_exportacion of importacion_exportaciones; let ie = index">
                                <input class="form-check-input" type="radio" name="idimportacion_exportacion" id="idimportacion_exportacion{{ie}}" [value]="importacion_exportacion.importacion_exportacion" [(ngModel)]="idimportacion_exportacion">
                                <label class="form-check-label" for="idimportacion_exportacion{{ie}}">
                                    {{importacion_exportacion.importacion_exportacion_codigo}}
                                </label>
                            </div>
                            -->
                        </div>
                        <div class="col-md-6 mb-3">
                            <!--
                            <div class="form-check" *ngFor="let tipoembarque of tiposembarque; let ie = index">
                                <input class="form-check-input" type="radio" name="idtipoembarque" id="idtipoembarque{{ie}}" [value]="tipoembarque.idtipoembarque" [(ngModel)]="idtipoembarque">
                                <label class="form-check-label" for="idtipoembarque{{ie}}">
                                    {{tipoembarque.tipoembarque}}
                                </label>
                            </div>
                            -->
                        </div>
                    </div>
                </form>  
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="crearAlmacen()">Crear Almacen</button>
            </div>
        </div>
    </div>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" [ngClass]="toast_tipo == 'Exito' ? 'toast align-items-center text-white bg-success border-0' : 'toast align-items-center text-white bg-danger text-white border-0'" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                <strong>{{toast_tipo}}</strong><br />{{toast_mensaje}}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>