<div id="principal">
    <app-menusuperior></app-menusuperior>
    <app-menulateral [menu_item]="7.2"></app-menulateral>
    <main id="main" class="main">
        <div class="pagetitle">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a role="button" [routerLink]="['/inicio']">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Listado de transacciones - Facturas/Notas de Cobranza</li>
                </ol>
            </nav>
        </div>
        <div class="card">
            <div *ngIf="ver_reporte_contabilidad_list_trans" class="card-body">
                <br />
                
                <div class="row">
                    <div class="col-md-8 mb-3">
                        <label for="identidad" class="form-label text-secondary small">Aplicado a</label>
                        <ng-select [(ngModel)]="identidad" placeholder="Todos" [disabled]="generado">
                            <ng-container *ngFor="let entidad of entidades">
                                <ng-option [value]="entidad.identidad">{{entidad.entidad}} {{entidad.tipoentidad}}</ng-option>
                            </ng-container>
                        </ng-select>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="fechainicial" class="form-label text-secondary small">Desde</label>
                        <input type="date" class="form-control" id="fechainicial" name="fechainicial" [(ngModel)]="fechainicial" [disabled]="generado" />
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="fechafinal" class="form-label text-secondary small">Hasta</label>
                        <input type="date" class="form-control" id="fechafinal" name="fechafinal" [(ngModel)]="fechafinal" [disabled]="generado" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <button type="button" class="btn btn-primary col-12" (click)="generarReporte();" [disabled]="generado">Generar</button>
                    </div>
                </div>
                
                <p-table *ngIf="reporte.length>0" [value]="reporte" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll" columnResizeMode="expand" [resizableColumns]="true" styleClass="p-datatable-gridlines  p-datatable-sm"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50,100]"
                    [globalFilterFields]="['numero','tipo','aplicado','fecha','usuario','monto','estado','pagado','apagar','moneda']"
                    >
                    <ng-template pTemplate="caption">
                        <div class="flex">
                            <button type="button" (click)="exportExcel()" class="btn btn-success mb-3"><i class="bi bi-file-earmark-excel"></i></button>&nbsp;
                            <!--<button type="button" (click)="exportPdf()" class="btn btn-danger mb-3"><i class="bi bi-file-earmark-pdf"></i></button>-->
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Numero
                                    <p-columnFilter type="text" field="numero" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Tipo
                                    <p-columnFilter type="text" field="tipo" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Aplicado a
                                    <p-columnFilter type="text" field="aplicado" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Fecha
                                    <p-columnFilter type="date" field="fecha" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Generado
                                    <p-columnFilter type="text" field="usuario" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Valor BOB
                                    <p-columnFilter type="numeric" field="monto" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Estado
                                    <p-columnFilter type="text" field="estado" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Monto Pagado BOB
                                    <p-columnFilter type="numeric" field="pagado" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Monto a Pagar BOB
                                    <p-columnFilter type="numeric" field="apagar" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Moneda
                                    <p-columnFilter type="text" field="moneda" display="menu"></p-columnFilter>
                                </div>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-transacciones>
                        <tr>
                            <td>{{transacciones.numero}}</td>
                            <td>{{transacciones.tipo}}</td>
                            <td>{{transacciones.aplicado}}</td>
                            <td>{{transacciones.fecha | date:'dd/MM/yyyy'}}</td>
                            <td>{{transacciones.usuario}}</td>
                            <td>{{transacciones.monto | number:'0.2-2'}}</td>
                            <td>{{transacciones.estado}}</td>
                            <td>{{transacciones.pagado | number:'0.2-2'}}</td>
                            <td>{{transacciones.apagar | number:'0.2-2'}}</td>
                            <td>{{transacciones.moneda}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="10">No existen registros</td>
                        </tr>
                    </ng-template>

                </p-table>
                
            </div>
        </div>
    </main>
</div>