<div id="principal">
    <app-menusuperior></app-menusuperior>
    <app-menulateral [menu_item]="3.2"></app-menulateral>
    <main id="main" class="main">
        <div class="pagetitle">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a role="button" [routerLink]="['/inicio']">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Notas de Cobranza</li>
                </ol>
            </nav>
        </div>
        <div class="card">
            <div *ngIf="ver_notas_cobranza" class="card-body">
                <br />
                <p-table [value]="notascobranza" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll" columnResizeMode="expand" [resizableColumns]="true" styleClass="p-datatable-striped"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50,100]"
                    [globalFilterFields]="['nronotadebito','fecha','embarque','cliente','monto','estadonotadebito']"
                    >
                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Numero
                                    <p-columnFilter type="text" field="nronotadebito" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Fecha
                                    <p-columnFilter type="date" field="fecha" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Embarque
                                    <p-columnFilter type="text" field="embarque" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Cliente
                                    <p-columnFilter type="text" field="cliente" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Monto (BOB)
                                    <p-columnFilter type="numeric" field="monto" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    Estado
                                    <p-columnFilter type="text" field="estadonotadebito" display="menu"></p-columnFilter>
                                </div>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-notacobranza>
                        <tr>
                            <td class="text-center"><i class="bi bi-file-earmark" role='button' (click)="downloadNotaCobranza(notacobranza.idnotadebito)"></i><i class="bi bi-file-earmark-ruled" role='button' (click)="downloadNotaCobranzaMembretada(notacobranza.idnotadebito)"></i><i *ngIf="notacobranza.idestadonotadebito==1 && editar_notas_cobranza && notacobranza.cobrado==0" class="bi bi-file-x-fill" role='button' data-bs-toggle="modal" data-bs-target="#confirmarAnularNotaCobranza" (click)="prepararAnular(notacobranza.idnotadebito)"></i></td>
                            <td>{{notacobranza.nronotadebito}}</td>
                            <td>{{notacobranza.fecha  | date:'dd/MM/yyyy'}}</td>
                            <td>{{notacobranza.embarque}}</td>
                            <td>{{notacobranza.cliente}}</td>
                            <td>{{notacobranza.monto | number:'0.2-2'}}</td>
                            <td  *ngIf="notacobranza.idestadonotadebito==2; else no_anulada">
                                <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#NotaCobranzaAnulada" (click)="datosAnulacion(notacobranza.idnotadebito)">{{notacobranza.estadonotadebito}}</button>
                            </td>
                            <ng-template #no_anulada>
                                <td>{{notacobranza.estadonotadebito}}</td>
                            </ng-template>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="10">No existen registros</td>
                        </tr>
                    </ng-template>
                    
                </p-table>
            </div>
        </div>
    </main>
</div>

<div class="modal" id="confirmarAnularNotaCobranza" tabindex="-1" aria-labelledby="confirmarAnularNotaCobranzaLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <i class="bi bi-exclamation-circle" style="font-size: 4rem; color: #dc3545"></i>
                </div>
                
                <br />
                <h4>¿Est&aacute; seguro que desea anular la nota de cobranza?</h4>
                <div class="row">
                    <div class="col-12 mb-3">
                        <label for="idmotivoanulacion" class="form-label text-secondary small">Motivo de anulaci&oacute;n</label>
                        <ng-select name="idmotivoanulacion" id="idmotivoanulacion" [items]="motivosanulacion" 
                            bindLabel="motivoanulacion" 
                            bindValue="idmotivoanulacion"
                            placeholder="Seleccione"
                            (change)="error_idmotivoanulacion=false"
                        [(ngModel)]="idmotivoanulacion">
                        </ng-select>
                        <small *ngIf="error_idmotivoanulacion" class="text-danger">Campo requerido</small>
                    </div>
                </div>
                <div class="row" *ngIf="idmotivoanulacion==5">
                    <div class="col-12 mb-3">
                        <label for="otro_motivoanulacion" class="form-label text-secondary small">Especifique</label>
                        <input type="text" class="form-control" id="otro_motivoanulacion" name="otro_motivoanulacion" [(ngModel)]="otro_motivoanulacion" (change)="error_otro_motivoanulacion=false;" />
                        <small *ngIf="error_otro_motivoanulacion" class="text-danger">Campo requerido</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-3">
                        <label for="resplado_anulacion" class="form-label text-secondary small">Documento de respaldo</label>
                        <input class="form-control" type="file" name="resplado_anulacion" id="resplado_anulacion" #UploadFileInput (change)="fileChangeEvent($event)" >
                        <small *ngIf="errorarchivo" class="text-danger">Campo requerido</small>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" (click)="anularNotaCobranza()">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="NotaCobranzaAnulada" tabindex="-1" aria-labelledby="NotaCobranzaAnuladaLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nota de Cobranza Anulada</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label text-secondary small">Fecha anulaci&oacute;n</label>
                        <div>{{ver_fechaanulacion | date:'dd/MM/yyyy'}}</div>
                        
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label text-secondary small">Anulado Por</label>
                        <div>{{ver_usuarioanulacion}}</div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-3">
                        <label class="form-label text-secondary small">Motivo de anulaci&oacute;n</label>
                        <div>{{ver_motivoanulacion}}</div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-3">
                        <label  class="form-label text-secondary small">Documento de respaldo</label>
                        <!--<div>{{ver_respaldoanulacion}}</div>-->
                        <button type="button" class="btn btn-link" (click)="descargarResplado()">{{ver_respaldoanulacion}}</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" [ngClass]="toast_tipo == 'Exito' ? 'toast align-items-center text-white bg-success border-0' : 'toast align-items-center text-white bg-danger text-white border-0'" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                <strong>{{toast_tipo}}</strong><br />{{toast_mensaje}}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>